*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(255, 192, 203, 0.224);
    overflow-x: hidden;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: pink;
    padding: 20px 190px;
    width: 100%;

}
.navbar a{
    text-decoration: none;
    color: blanchedalmond;
    color: palevioletred;
    font-weight: 800;
}

.navbar a:hover,
.active{
    color: white;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: all 0.5s;
    padding: 10px ;
    border-bottom-right-radius: 10px;
}

.homecontent{
    border: 2px solid pink;
    margin: 1px 5px;
    margin-top: -90px;
}

.homecontent .img-1{
    max-width: 50%;
    width: 350px;
    border: 5px solid pink;
    margin-left: 700px;
    border-radius: 20px;
}
.homecontent .img-2{
    max-width: 50%;
    width: 250px;
    height: 290px;
    transform: translateX(600px);
    border-radius: 20px;
    border: 5px solid pink;

}
.homecontent .img-3{
    max-width: 50%;
    border-radius: 20px;
    width: 250px;
    height: 290px;
    border: 5px solid pink;
    transform: translateX(610px);
}

.homecontent h1{
    color: rgb(230, 125, 143);
    font-size: 51px;
    margin-left: 90px;
    transform: translateY(220px);
}

.homecontent h3{
    color: rgb(151, 106, 113);
    margin-left: 80px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    transform: translateY(250px);
}
.homecontent span{
    color:palevioletred;
    margin-left: -35px;
    line-height: 30px;
    font-size: 23px;
    
}

.homecontent .but1{
    color: rgb(151, 106, 113);
    margin-left: -300px;
    background: rgb(223, 78, 102);
    padding: 10px 20px;
    border-radius: 15px;
    transform: translateY(-130px);
    color: white;
    font-weight: bold;
    border: 0.2px solid palevioletred;
}

.homecontent .but1:hover{
    background: rgb(250, 247, 248);
    color: palevioletred;

}


/* about section styling */


.aboutcontent{
    border: 4px solid pink;
    width: 100%;
    height: 280vh;
}
.aboutcontent .imgs img{
    /* filter: blur(10px); */
   
    width: 600px;
    height: 450px;
    border: 4px solid pink;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 15px;
}
.aboutcontent .text{
    margin-top: -360px;
    color: rgb(151, 106, 113);
    margin-left: 665px;
}

.aboutcontent h1{
    color: pink;
    margin-left:170px;
    font-size: 55px;
}
.aboutcontent h4{
    font-size: 20px;
    margin-left: 20px;
    font-weight: 550;
    margin-top: 20px;
}

.aboutcontent .text2{
    color:  rgb(151, 106, 113);
    margin-top: 250px;
    border: 2px solid pink;
    border-left: none;
    border-right: none;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    width: fit-content;
    background-color:rgb(252, 242, 244);
    
}

.aboutcontent .text2 h4{
    font-size: 17px;
    font-weight: 100;
}

.aboutcontent .downcontent2{
    color:  rgb(151, 106, 113);
    margin-top: 50px;
    border: 2px solid pink;
    border-left: none;
    border-right: none;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 380px;
    width: fit-content;
    background-color:rgb(252, 242, 244);
    
}
.aboutcontent .downcontent2 h4{
    font-size: 17px;
    font-weight: 100;
}

.aboutcontent .downcontent3{
    color:  rgb(151, 106, 113);
    margin-top: 50px;
    border: 2px solid pink;
    border-left: none;
    border-right: none;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 430px;
    width: fit-content;
    background-color:rgb(252, 242, 244);
    
}

.aboutcontent .downcontent3 h4{
    font-size: 17px;
    font-weight: 100;
}

.aboutcontent .downcontent4{
    color:  rgb(151, 106, 113);
    margin-top: 50px;
    border: 2px solid pink;
    border-left: none;
    border-right: none;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 397px;
    width: fit-content;
    background-color:rgb(252, 242, 244);
    
}
.aboutcontent .downcontent4 h4{
    font-size: 17px;
    font-weight: 100;
}


.downcontent h5{
    margin-top: 150px;
    font-weight:600;
    color:  rgb(151, 106, 113);
    margin-left: 440px;
}

.downcontent a{
    color: palevioletred;
}


/* services section styling */
.servicescontent{
    border: 3px solid pink;
    display: inline-flexbox;
    justify-content: space-between;
    align-items: center;
}

.servicescontent h2{
    font-size: 20px;
    margin-left: 20px;
    color: palevioletred;
}

.servicescontent h3{
    font-size: 15px;
    line-height: 30px;
    margin-left: 20px;
    color:rgb(151, 106, 113);
}







